/* Global */
* {
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
 border: none !important;
 min-width: 1px !important;
}

html {
  /* only disable pull-to-refresh but allow swipe navigations */
  overscroll-behavior-y: contain;
}

button {
  display: none;
  outline: none !important;
}

li {
  list-style: none;
}

.border {
  border: 1px solid red !important;
}

html, body {
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
}

.button {
  background-color: black;
  color: white;
  padding: 1rem;
  position: absolute;
  margin-left: 1rem;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

.opacity {
  background-color: rgba(0,0,0,0.2);
}

/* Fade Effect */
.fade-in {
  opacity: 0;
  transition: 1s;
  transform: scale(0.97);
}

.visible {
  transition: 1s;
  opacity: 1 !important;
  transform: scale(1);
}



/* Back Button*/
.touchalytics-header {
  position: fixed;
  z-index: 11;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  z-index: 18;
  position: fixed;
  font-size: 2rem;
  background-color: white;
  padding: 0.5rem;
  top: 1.3rem;
  left: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #72B2A4;
  transition: .1s;
  border: 3px solid white !important;
}

.back-button:hover {
  color: white;
  background-color: transparent;
}

.back-button:active {
  color: black;
}

.page-container {
  width: 100%;
  max-width: 100%;
  height: 90%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 525px) {
  .back-button {
    bottom: 1rem;
    top: auto;
    width: 6rem;
    right: 0;
    left: 1rem;
    padding: 0;
    text-align: center;
    padding: 2rem 0 1rem 0;
    background-color: white;
    border: none !important;
    font-size: 2.5rem;
    z-index: 10000;
    border: 2px solid #72B2A4 !important;
    border-radius: 50%;
  }

  .touchalytics-header {
    z-index: 10000;
  }
}







/* Landing Page */
.header-image {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  object-fit: cover;
}

.header-img {
  object-fit: cover;
  filter: brightness(0.6);
  height: 24rem;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.dw-title {
  color: white;
  font-size: 2rem;
  text-align: center;
  opacity: 1;
  width: 90%;
  z-index: 11;
}

.time {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5rem;
}

/* Body */
.main-body {
  width: 100%;
  height: 100rem;
  background-color: white;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 24rem;
  z-index: 999 !important;
}

.column-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-column {
  max-width: 49%;
  width: 49%;
  height: 100%;
  background-color: #D3D3D3;
}

.right-column {
  max-width: 49%;
  width: 49%;
  height: 100%;
  background-color: #D3D3D3;
}










/* Responsive Design*/
@media only screen and (max-width: 1058px) {
  .column-container {
    flex-direction: column;
    height: 90%;
  }

  .left-column {
    width: 100%;
    max-width: 100%;
    height: 49%;
  }

  .right-column {
    width: 100%;
    max-width: 100%;
    height: 49%;
  }
}
